drawable/ic_launcher#no_collapse
drawable/ic_launcher_round#no_collapse
drawable/shortcut_incognito#no_collapse
string/google_app_id#no_collapse
string/default_web_client_id#no_collapse
string/gcm_defaultSenderId#no_collapse
string/google_api_key#no_collapse
string/google_crash_reporting_api_key#no_collapse
string/google_storage_bucket#no_collapse
string/project_id#no_collapse
mipmap/ic_launcher#no_collapse
mipmap/ic_foreground#no_collapse
mipmap/ic_background#no_collapse
